Quantum articles/14-04-ref.zip
Quantum articles/CIFAR.png
Quantum articles/DWave supremacy.pdf
Quantum articles/MNIST.png
Quantum articles/Mobilenet_FLOWER.png
Quantum articles/Portfolio Optimization.pdf
Quantum articles/QA.pdf
Quantum articles/QInteger Programming.pdf
Quantum articles/read articles.txt
Quantum articles/Survey-2022_FINAL.pdf
Quantum articles/Nuova cartella/Copositive programming.pdf
Quantum articles/Nuova cartella/Greedy solver.pdf
Quantum articles/Nuova cartella/JSS Davide Venturelli.pdf
Quantum articles/Nuova cartella/JSS qalgos.pdf
Quantum articles/Nuova cartella/Portfolio Optimization.pdf
Presentations/14-04.pptx
